/mapfiles/data
/mapfiles/output
/mapfiles/trainoutput
*.pth
__pycache__/
/mapfiles/gridsearch/
/mapfiles/toFindOnGrid/
/mapfiles/validation/
/mapfiles/output_100000/
*.dicts
out.txt
.gitignore
out.csv
out_initial.txt
